.form-section {
  background-color: black;
  padding: 40px 5%;

  h2 {
    color: white;
    text-align: center;
    margin: 40px 0;
    margin-bottom: 20px;
  }

  p {
    color: white;
    text-align: center;
  }
}
