@import "variables";

body,
#root {
  overflow-x: hidden;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 18px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}

h1 {
  font-size: 6vw;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

.yellow-block {
  background: linear-gradient(to bottom, transparent 30%, $yellow 30%);
  padding: 5px;
}

.transparent-black {
  color: rgba(0, 0, 0, 0.5);
}

.yellow {
  color: $yellow;
}

.yellow-btn {
  background-color: $yellow;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;

  &:hover {
    background-color: darken($yellow, 15%);
  }
}
