

.contact-form  {
  padding: 40px 5%;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 40px;

  @mixin input {
    margin-top: 10px;
    width: 100%;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    background: black;
    color: white;
  }

  span {
    text-align: center;
    grid-column: span 2;
    color: white;
  }

  .btn-container {
    grid-column: span 2;
    text-align: right;

    button {
      width: 200px;
    }
  }

  .left-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .correct {
      color: var(--yellow);

      input {
        border-color: var(--yellow);
        color: var(--yellow);
      }
    }

    label {
      color: white;
      font-size: 14px;

      input {
        @include input;
      }
    }
  }

  .correct {
    color: var(--yellow);

    textarea {
      border-color: var(--yellow);
      color: var(--yellow);
    }
  }

  label {
    color: white;
    font-size: 14px;

    textarea {
      @include input;
      resize: none;
      height: 120px;
    }
  }
}

@media (max-width: 1000px) {
  .contact-form  {
    grid-template-columns: 100%;
    grid-gap: 0;


    span,
    .btn-container {
      grid-column: span 1;
      margin-top: 20px;
      text-align: center;
    }

    .left-container {
      label {
        input {
          margin-bottom: 20px;
        }
      }
    }
  }
}
